html,
body {
  padding: 0;
  margin: 0;
  font-family: frank-new, sans-serif;
  background-color: #f9f9f8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.test {

}
