html,
body {
  padding: 0;
  margin: 0;
  font-family: frank-new, sans-serif;
  background-color: #f9f9f8;
  
  
}




a {
  color: inherit;
  text-decoration: underline;
  margin-left: 1em;
}

* {
  box-sizing: border-box;
}

.infowrap h2 {
  margin: .5em 0;
}

.infowrap img {
  width: 100%;
  height: 10em;
  object-fit: cover;
  margin-bottom: 1em;

}

